@import '../../assets/scss/colors.scss';

.home {
  display: flex;

  &__content {
  flex-grow: 1;
  padding: 24px 38px 50px 10px;
  }

  &__orders {
    background-color: $main-dark-color;
    width: 410px;
  }
}